

<section class="ui inverted yellow center aligned segment">

    <div class="ui accordion">
        <div class="title">
            <i class="dropdown icon"></i>
            Add Expense
        </div>
        <div class="content">
            <form class="ui raised segment form" name="addExpense" action="/group/{{group.id}}/addexpense" method="POST">
                <div class="field">
                    <label>Title</label>
                    <input placeholder="Title" type="text" name="title">
                </div>
                <button class="ui blue submit button">Add Expense</button>
            </form>
        </div>
    </div>

</section>

<script>

    $('.ui .accordion')
            .accordion({
                selector: {
                    trigger: '.title .icon'
                }
            })
    ;
</script>