<div class="ui two column grid basic middle aligned segment">
    <div class="column">
        <form class="ui raised segment form" action="/dashboard/addgroup" method="POST">
            <h3 class="ui header">Add Group</h3>
            <div class="field">
                <label>Title</label>
                <input placeholder="Title" type="text" name="title">
            </div>

            <button class="ui blue submit button">Add Group</button>

        </form>
    </div>
</div>
</div>