<form class="ui stacked segment form" action="/expense/{{expense.id}}/addpayment" method="POST">
    <div class="two fields">
        <div class="field">
            <label>Title</label>
            <input placeholder="Title" type="text" name="title">
        </div>
        <div class="field">
            <label>Paid by</label>
            <input placeholder="Payer" type="text" name="payer">
        </div>
        <div class="field">
            <label>Amount</label>
            <input placeholder="00" type="number" name="amount">
        </div>
    </div>
    <button class="ui blue submit button">Add Payment</button>
</form>
