<div class="ui segment">
    <div class="content">
        <h2 class="ui header">
            {{group.title}}: Members
        </h2>
        {{> listmembers}}
        {{> addmember}}
    </div>
</div>
