{{> menu id="about"}}

<section class="ui center aligned middle aligned segment">
    <h3>
        Billshare
    </h3>
    <p>
        Enables housemates to keeps track of bills (ie. rent, gas, electric, tv, groceries etc) and records how they are to be split up and all money owed between housemates.
    </p>
</section>