{{> menu id="dashboard"}}

<section class="ui inverted teal segment">
    <section class="ui yellow inverted raised segment">


        <h2 class="ui center aligned black header">
            {{user.firstName}} {{user.lastName}}'s Groups
        </h2>





        {{> listgroups}}


    </section>
</section>

