{{> menu id="dashboard"}}

<section class="ui inverted green segment">
    <section class="ui raised segment">
        <section class="ui inverted red segment">
            <section class="ui center aligned segment">
                <h2 class="ui header">
                    {{user.firstName}} {{user.lastName}}'s Groups
                </h2>
            </section>
        </section>
        {{> addgroup}}
        <section class="ui inverted green segment">
            {{> listgroups}}
        </section>
    </section>
</section>

