{{> menu id="expense"}}

<section class="ui yellow inverted segment">
    <section class="ui raised segment">
        <h2 class="ui center aligned header">
            {{expense.title}}: payments
        </h2>
        {{> listpayments}}
        {{> addpayment}}
    </section>
</section>