{{> menu id="group"}}

<section class="ui center aligned segment">
    <section class="ui inverted yellow segment">
        <div class="ui accordion">
            <div class="title">
                <i class="dropdown icon"></i>
                View/Add members details
            </div>
            <div class="content">

                {{> membercard}}

            </div>
        </div>
    </section>
</section>


<script>

    $('.ui .accordion')
            .accordion({
                selector: {
                    trigger: '.title .icon'
                }
            })
    ;
</script>

<div class="ui grid">
    <div class="eight wide column">
        <section class="ui yellow inverted segment">
            <section class="ui segment">
                <h2 class="ui center aligned header">
                    {{group.title}}: Expenses
                </h2>
                {{> listexpenses}}
                {{> addexpense}}
            </section>
        </section>
    </div>
    <div class="eight wide column">
        <section class="ui yellow inverted segment">
            <section class="ui segment">
                <h2 class="ui center aligned header">
                    {{group.title}}: Bills Due
                </h2>
                {{> listbills}}
                {{> addbill}}
            </section>
        </section>
    </div>
</div>
