
{{> menu id="group"}}

<div class="ui padded grid">
    <div class = "six wide column">
        {{> membercard}}
    </div>

    <div class = "ten wide align right column padded">
        <section class="ui raised segment">
            <h2 class="ui center aligned header">
                {{group.title}}: Expenses
            </h2>
            {{> listexpenses}}
            {{> addexpense}}
        </section>

        <section class="ui raised segment">
            <h2 class="ui center aligned header">
                {{group.title}}: Bills Due
            </h2>
            {{> listbills}}
            {{> addbill}}
        </section>
    </div>
</div>